.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}
  
.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: rgb(218, 96, 112);   
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: rgb(131, 131, 194);
}

.power-pellet {
    background-color: rgb(209, 147, 228);
    border-radius: 10px;
}

.blinky {
    background-color: red;
}

.pinky {
    background-color: pink;
}

.inky {
    background-color: rgb(76, 79, 235);
}

.clyde {
    background-color: orange;     
}

.pac-man {
    background-color: rgb(255, 251, 0);
    border-radius: 10px;
}

.scared-ghost {
    background-color: aquamarine;
}